* {
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

@media (max-width: 1199px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}

@media (max-width: 767px) {

	.zoom-container {
		width: 50%;
	}

}

@media (max-width: 480px) {
	
	.zoom-container {
		width: 100%;
	}
	
}

.nav{
    background-color: #374b56;
    height: 50px;
    margin-top: 1%;

}
.nav-item a{
  color: white !important;
  /* font-weight: bold; */
  font-family: 'Tajawal', sans-serif;
  font-size: 15px; 
}

.nav a:hover{
  color: #f28123 !important;
}

.nav>.active>a {
  color: #f28123 !important;
}
  .first {
    text-align: right;
    PADDING: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    color: white;
    background-color: #374b56;
  }

  .container h3{
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 50px;
  }

  form h2,p{
    text-align: center;
    direction: rtl;
  }
  
  .row{
      margin-top:2%;
  }
  .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      height: 300px; 
    }
  .card{
    padding: 15px;
    background: white;
    position: sticky;
    border-radius: 4px;
    margin-top: -13%;
    border: 1px solid #3f1f04;
    box-shadow: 2px 4px 12px rgba(black, 0.08);
    border-top-right-radius:10px;
    border-top-left-radius:10px;
  }
  
   hr{
      color: #a54c08 !important;
      width: 100%;
      border: 5px;
  }
  .card-body {
      direction: rtl;
  }