* {
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

@media (max-width: 1199px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}

@media (max-width: 767px) {

	.zoom-container {
		width: 50%;
	}

}

@media (max-width: 480px) {
	
	.zoom-container {
		width: 100%;
	}
	
}

.nav-item a{
  color: white !important;
  /* font-weight: bold; */
  font-family: 'Tajawal', sans-serif;
  font-size: 15px; 
}

.nav a:hover{
  color: #f28123 !important;
}

.nav>.active>a {
  color: #f28123 !important;
}
  .first {
    text-align: right;
    PADDING: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    color: white;
    background-color: #374b56;
  }

  .container h3{
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    font-size: 50px;
  }
  .social  {
    margin: auto;
    justify-content: center;
    display: flex;
  }
  .social li {
    font-size: 17px;
    display: inline-block;
    padding-right: 1%;
  }
.social a{
  color: #f28123 !important;
}

form h2,p{
  text-align: center;
  direction: rtl;
}
.container {
  max-width: 800px;
}

.add-todo-box-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.add-todo-box {
  padding: 25px;
  background: white;
  
  border-radius: 4px;
  margin-top: -68px;
  border: 1px solid gray;
  box-shadow: 2px 4px 12px rgba(black, 0.08);
}